[Unit]
Description=Seatgeist daemon socket
PartOf=graphical-session.target
After=graphical-session-pre.target

[Socket]
ListenStream=%t/seatgeist/seatgeistd.sock
SocketMode=0600
DirectoryMode=0700

[Install]
WantedBy=graphical-session.target
